In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlite3

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temp=session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [5]:
#  3. Convert the June temperatures to a list.
june_temp= list(june_temp)

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp, columns=['Date','June Temps'])
june_df.set_index(june_df['Date'], inplace=True)

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe().round(2)

       June Temps
count     1700.00
mean        74.94
std          3.26
min         64.00
25%         73.00
50%         75.00
75%         77.00
max         85.00

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp=session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [9]:
# 7. Convert the December temperatures to a list.
dec_temp= list(dec_temp)

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp, columns=['Date','Dec Temps'])
dec_df.set_index(dec_df['Date'], inplace=True)

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe().round(2)

       Dec Temps
count    1517.00
mean       71.04
std         3.75
min        56.00
25%        69.00
50%        71.00
75%        74.00
max        83.00

## Additional Queries

In [12]:
# June Precip
june_precip=session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
june_precip= list(june_precip)
june_precip_df = pd.DataFrame(june_precip, columns=['Date','June Precip'])
june_precip_df.set_index(june_precip_df['Date'], inplace=True)
june_precip_df.describe().round(2)

       June Precip
count      1574.00
mean          0.14
std           0.34
min           0.00
25%           0.00
50%           0.02
75%           0.12
max           4.43

In [13]:
# December Precip
dec_precip=session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
dec_precip= list(dec_precip)
dec_precip_df = pd.DataFrame(dec_precip, columns=['Date','Dec Precip'])
dec_precip_df.set_index(dec_precip_df['Date'], inplace=True)
dec_precip_df.describe().round(2)

       Dec Precip
count     1405.00
mean         0.22
std          0.54
min          0.00
25%          0.00
50%          0.03
75%          0.15
max          6.42